:root {
  --primary: #FEFEFE;

  --text-primary: #010101;
  --text-secondary: #333333;
  --text-muted: #666666;
  --text-hover: #202020;
  --text-placeholder: #999999;


  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;

  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
}

html,
body {
  font-family: "JetBrains Mono", monospace;

  margin: 0;
  width: 100%;
  height: 100%;

  background: var(--primary);
}
