:root {
  --primary: #FEFEFE;
  --secondary: #010101;

  --text-primary: #010101;
  --text-secondary: #333333;
  --text-muted: #666666;
  --text-hover: #DDDDFF;
  --text-placeholder: #999999;


  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;

  --spacing-large: 2rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
}

html,
body {
  font-family: "JetBrains Mono", monospace;

  line-height: 1.5;

  margin: 0;
  width: 100%;
  height: 100%;

  background: var(--primary);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 90%;
  flex: 1;
  display: grid;
  place-items: center;
}
