<header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>

<style>
  header {
    padding: var(--spacing-medium);
    font-size: var(--h4);
  }

  nav {
    display: flex;
    justify-content: center;
  }

  nav a {
    color: var(--text-primary);
    margin: 0 var(--spacing-medium);
    text-decoration: none;
    border-bottom: 2px solid var(--text-primary);
  }

  nav a:hover {
    border-color: var(--text-hover);
  }
</style>
